body {
  font-family: Cerebri-Sans, Helvetica, Arial, sans-serif;
}
.img.logo {
  box-sizing: border-box;
  color: rgb(0, 86, 179);
  cursor: pointer;
  display: block;
  font-family: Cerebri-Sans, Helvetica, Arial, sans-serif;
  font-size: 16px;
  font-weight: 400;
  height: 42px;
  line-height: 24px;
  max-width: 150px;
  text-align: left;
  text-size-adjust: 100%;
}
.weather {
  max-width: 600px;
  margin: 30px auto;
  padding: 40px;
  border: 1px solid #dadde1;
  border-radius: 5px;
  background-attachment: scroll;
  background-clip: border-box;
  background-color: rgb(255, 255, 255);
  background-origin: padding-box;
  background-size: auto;
  border-bottom-left-radius: 16px;
  border-bottom-right-radius: 16px;
  border-top-left-radius: 16px;
  border-top-right-radius: 16px;
  box-shadow: rgba(65, 50, 100, 0.08) 0px 30px 50px 0px;
  box-sizing: border-box;
  color: rgb(135, 135, 135);
  display: block;
  font-size: 16px;
  font-weight: 400;
  height: 664.667px;
  line-height: 24px;
  text-align: left;
  text-size-adjust: 100%;
}

h1 {
  box-sizing: border-box;
  color: #272142;
  display: block;
  font-size: 38px;
  font-weight: 700;
  height: 48px;
  line-height: 48px;
  margin: 20px 0px 10px;
  margin-block-end: 10px;
  margin-block-start: 20px;
  margin-inline-end: 0px;
  margin-inline-start: 0px;
  text-align: left;
}
