body {
  font-family: Cerebri-Sans, Helvetica, Arial, sans-serif;
  padding: 15px 275px;
}
.container {
  max-width: 1140;
  padding: 0px 10px 15px 10px;
  margin: 5px;
  background-color: #f5f1fe;
  align-items: center;
}
.logo {
  height: 150px;
  max-width: 150px;
}
.weather {
  max-width: 600px;
  margin: 30px auto;
  padding: 40px;
  border: 1px solid #dadde1;
  border-radius: 5px;
  background-clip: border-box;
  background-color: rgb(255, 255, 255);
  background-origin: padding-box;
  border-bottom-left-radius: 16px;
  border-bottom-right-radius: 16px;
  border-top-left-radius: 16px;
  border-top-right-radius: 16px;
  box-shadow: rgba(65, 50, 100, 0.08) 0px 30px 50px 0px;
  box-sizing: border-box;
  color: rgb(135, 135, 135);
  display: block;
  font-size: 16px;
  font-weight: 400;
  height: 664.667px;
  line-height: 24px;
  text-align: left;
  text-size-adjust: 100%;
}
.temperature {
  display: flex;
}

.row {
  display: flex;
}
h1 {
  color: #272142;
  font-size: 38px;
  font-weight: 700;
  height: 48px;
  box-sizing: border-box;
  display: block;
  line-height: 48px;
  margin: 20px 0px 10px;
  margin-block-end: 10px;
  margin-block-start: 20px;
  margin-inline-end: 0px;
  margin-inline-start: 0px;
  text-align: left;
}

ul {
  padding: 0;
  margin: 0;
  text-transform: capitalize;
  color: rgb(135, 135, 135);
  font-size: 16px;
}
li {
  list-style: none;
  padding: 0;
  margin: 0;
  color: rgb(135, 135, 135);
  font-size: 16px;
}
li:first-letter {
  text-transform: capitalize;
}
.weather-app-wrapper {
  max-width: 700px;
  margin: 50px auto;
}
.weather-temperature .active {
  color: rgb(135, 135, 135);
  cursor: default;
}
.weather-temperature .active:hover {
  text-decoration: none;
}
